/* Global vars declaration */
:root{
  --black-palette: rgb(30,33,36);
  --white-palette: rgb(255,255,255);
  --white-palette-2: rgb(239,239,239);
  --darkgray-palette: rgb(40,43,48);
  --gray-palette: rgb(54,57,62);
  --lightgray-palette: rgb(66,69,73);
  --primary-palette: 	rgb(244, 255, 90);
  --secondary-palette: rgb(64,84,228);
  --font-family: 'Noto Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body{
  font-family: var(--font-family);
  margin:0;
  padding: 0;
  background-color: var(--black-palette);
  color: var(--black-palette);
  font-size: 1.25rem;
}

img{
  width: 100%;
}

.titles{
  text-align: center;
  padding: 5rem 0 1.5rem;
  margin: 0;
  font-size: 1.5rem;
  color: var(--secondary-palette);
}

.white-bg-1{
  background-color: var(--white-palette);
}

.white-bg-2{
  background-color: var(--white-palette-2)
}

.visible {
  display: inherit;
}

.hidden {
  display: none;
}

.app{
  background-color: var(--secondary-palette);
}

.no-bg{
  background-color: transparent;
}

a{
  padding: .8rem;
  text-decoration: none;
  color: var(--white-palette);
  transition: .5s;
  border-radius: 10%;
  font-weight: 400;
}

a:hover{
  text-decoration: underline;
}